{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash
source {{ joinPath .chezmoi.sourceDir "etc" "bash" "lib" "init.bash" | quote }}

import unix darwin brew asdf

main() {
  # Try to avoid having to type in the passwords over and over
  unix::keep_sudo

  # Check if command line tools is installed and try to install it if it isn't
  darwin::require_clt || exit 1

  # Brewfile hash: {{ include "etc/darwin/Brewfile" | sha256sum }}
  ask_to_run brew::setup
}

main "$@" || exit 1
{{ end -}}
