{{ $proxy_url := "" -}}
{{ $proxy_envs := list
     "http_proxy"
     "https_proxy"
     "HTTP_PROXY"
     "HTTPS_PROXY" -}}
{{ range $proxy_envs -}}
{{   if env . -}}
{{     $proxy_url = env . -}}
{{     break -}}
{{   end -}}
{{ end -}}

[init]
	defaultBranch = main
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[core]
	autocrlf = input
	whitespace = fix,space-before-tab,tab-in-indent,trailing-space
	excludesfile = ~/.gitignore_global
[apply]
	whitespace = fix
[push]
	default = simple
[pull]
	rebase = true
[alias]
	br = branch
	ci = commit
	co = checkout
	df = diff
	g = grep -I
	lg = log -p
	rb = rbranch
	rv = review
	st = status
[color]
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[merge]
	log = true
	tool = nvimdiff
[mergetool]
	prompt = true
[mergetool "nvimdiff"]
	cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[user]
	name = Sho Sakakibara
	email = {{ .email }}
[credential "https://github.com"]
	helper =
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !gh auth git-credential

{{- if ne $proxy_url "" }}
[http]
	proxy = {{ $proxy_url }}
[https]
	proxy = {{ $proxy_url }}
{{- end }}
