{{- if eq .chezmoi.os "windows" -}}
Get-ChildItem -Path $env:USERPROFILE -Filter ".*" -Force | foreach {$_.Attributes = "Hidden"}
Get-ChildItem -Path $env:USERPROFILE -Filter "_*" -Force | foreach {$_.Attributes = "Hidden"}
{{- end -}}
