[tools]
node = "latest"
python = "latest"
ruby = "latest"
php = "latest"
zig = "latest"

[settings]
experimental = true
{{- if eq ((index . "profile") | default "personal") "work" }}
idiomatic_version_file_enable_tools = ["ruby"]
{{- end }}

